.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);// 2 rækker
  gap: 8px; 
  max-width: 800px;
  margin: 0 auto; 
}

.image {
  width: 100%;
  height: 120px;
  object-fit: cover; // beskærer pænt uden at strække
  border-radius: 6px;
}
